* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body {
  height: max-content;
}

:root {
  --primary1-color: rgb(33, 62, 121);
  --primary2-color: #052846;
  --primary3-color: #002d53;
  --primary4-color: #8cbcf7;
  --primary5-color: rgb(10, 50, 135);
  --primary6-color: #6987ac;
  --secondary1-color: #54595f;
  --secondary2-color: rgb(51 51 51);
  --secondary3-color: rgb(144, 144, 144);
  --secondary4-color: #555;
  --secondary5-color: rgba(0, 0, 0, 0.1);
  --secondary6-color: rgb(36, 36, 36);
  --secondary7-color: rgb(203, 199, 199);
  --secondary8-color: rgba(0, 0, 0, 0.4);
  --secondary9-color: #d7d7d5;
  --white-color: rgb(255, 255, 255);
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

#loader-box::before {
  background: url(./assets/loader-background-image.jpg) no-repeat center center/cover;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  opacity: 0.5;
}

#loader-box {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 1s ease;
  pointer-events: auto;
  background-color: var(--white-color);
  z-index: 3;
}

#loader-box.hide {
  opacity: 0;
  pointer-events: none;
}

.loader-content {
  color: #0e2165;
  font-size: 75px;
  font-family: sans-serif;
  position: relative;
  z-index: 5;
}

.spin-loader {
  border: 3px solid var(--white-color);
  border-top: 8px solid var(--primary3-color);
  border-radius: 50%;
  width: 160px;
  height: 160px;
  animation: spin 1s linear infinite;
  margin: 50px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #f6f4f4;
}

.navbar-content {
  display: flex;
  align-items: center;
  font-size: 25px;
  color: var(--primary5-color);
  height: 80px;
  padding-left: 5%;
}

.navbar-content img {
  height: 65px;
  margin-right: 15px;
}

.main-banner img {
  width: 100%;
  object-fit: cover;
}

.cards {
  max-width: 65%;
  padding: 50px 0;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  height: fit-content;
  margin: 10px 5px;
  transition: all 0.3s;
  box-shadow: 0 0 10px var(--secondary9-color);
}

.card-section {
  position: relative;
}

.card-section::before {
  background: url(./assets/card-section-background-image.jpg) no-repeat center
    center/cover;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
}

.card-section1 {
  position: relative;
  transition: all 0.3s;
  overflow: hidden;
}

.card-section1-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s;
  transform: rotate(-90deg);
}

.card-section1-hover-option {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary8-color);
  visibility: hidden;
  transition: all 0.3s;
}

.card-section1:hover .card-section1-hover-option {
  opacity: 1;
  visibility: visible;
}

.card-section1-hover-button {
  border: none;
  padding: 15px 50px;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 1.5px;
  cursor: pointer;
  border-radius: 4px;
  color: var(--primary2-color);
}

/* .card-section1:hover .card-section1-hover-options {
  opacity: 1;
  visibility: visible;
  right: 11px;
}

.card-section1-hover-options {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 11px;
  right: 0px;
  height: 135px;
  width: 50px;
  background-color: var(--white-color);
  box-shadow: var(--secondary5-color) 1px 1px 1px 0px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
} */

/* .card-section1-hover-option1,
.card-section1-hover-option2,
.card-section1-hover-option3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33.33%;
  width: 100%;
}

.card-section1-hover-option1 img,
.card-section1-hover-option2 img,
.card-section1-hover-option3 img {
  height: 19px;
} */

.card-section1-sold-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--white-color);
  width: 50px;
  height: 50px;
  box-shadow: 0 0 10px var(--secondary9-color);
  border-radius: 50px;
}

.card-section1-sold-tag a {
  color: var(--secondary6-color);
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
}

.card-section2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white-color);
  height: 100px;
  width: 100%;
  padding: 10px 15px 15px 15px;
}

.card-section2-content1 {
  color: var(--secondary1-color);
  text-decoration: none;
  font-size: 14px;
  transition: all 0.5s;
}

.card-section2-content1:hover {
  color: var(--secondary2-color);
}

.card-section2-content2-bundles {
  font-size: 13.3px;
  text-decoration: none;
  color: var(--secondary3-color);
  transition: all 0.5s;
}

.card-section2-content2-bundles:hover {
  color: var(--secondary4-color);
}

.card-section2-content3 {
  font-size: 14px;
  font-weight: 600;
  color: var(--primary1-color);
}

.card-section2-content3-price {
  color: var(--secondary3-color);
  font-size: 12.6px;
  text-decoration: line-through;
  font-weight: 400;
}

/* Cart page */

.cart-header {
  background-color: var(--primary2-color);
  height: 160px;
}

.cart-header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cart-header-content-headings {
  font-size: 24px;
  font-weight: 400;
  color: var(--white-color);
}

.cart-section-parts {
  display: flex;
  justify-content: space-between;
  height: 380px;
  max-width: 1190px;
  margin: auto;
}

.cart-section-part1 {
  width: 780px;
  border: 2px solid green;
  height: 100%;
}

.cart-section-part2 {
  width: 380px;
  height: 100%;
  border: 2px solid rgb(0, 81, 255);
  padding: 25px;
}

.website-footer {
  background-color: #f9f9f9;
}

.footer-box {
  max-width: 90%;
  margin: 0 auto;
  padding: 30px 0 0;
}

.footer-box-part1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--secondary9-color);
  padding-bottom: 30px;
}

.footer-box-part1 h1 {
  font-size: 40px;
  max-width: 1000px;
  color: var(--primary3-color);
}

.footer-box-part1 img {
  height: 600px;
}

.footer-box-part2 {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
  max-width: 1100px;
  margin: auto;
}

.footer-box-part2-content1,
.footer-box-part2-content2,
.footer-box-part2-content3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-box-part2-content1 p {
  font-size: 30px;
  color: var(--primary5-color);
  font-weight: 500;
}

.footer-box-part2-content1 img {
  height: 90px;
  margin-right: 15px;
}

.footer-box-part2-content2 p,
.footer-box-part2-content3 p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-box-part2-content2 a,
.footer-box-part2-content3 a,
.footer-box-part2-content2 p,
.footer-box-part2-content3 p {
  text-decoration: none;
  color: var(--primary3-color);
  font-size: 17px;
}

.footer-box-part2-content2 img,
.footer-box-part2-content3 img {
  height: 20px;
  margin: 0 10px 0 3px;
}

/* shopping cart page */

.shopping-cart-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 75px 30px;
  max-width: 800px;
  margin: auto;
}

.shopping-cart-section-background-image {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 950px;
  z-index: -1;
  opacity: 0.5;
}

.form-content1 h1 {
  margin-bottom: 15px;
  font-size: 40px;
  color: var(--primary3-color);
  font-weight: lighter;
  letter-spacing: 2px;
  text-align: center;
}

.shopping-cart-section-form {
  height: 800px;
  width: 100%;
}

.form-content2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 25px 0;
}

.form-content2-background-image {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.7;
}

.form-content2-box1{
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;
}

.form-content2-field p,.form-content2-box2-field P{
  background-color: var(--primary6-color);
  color: var(--white-color);
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border-radius: 3px;
}

.form-content2-field h6,.form-content2 label,.form-content2-box2-field h6{
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
  color: var(--secondary2-color);
}

.form-content2-name-field{
  width: 50%;
}

.form-content2-price-field{
  width: 40%;
}

.form-content2-box2-field P{
   background-color: var(--primary3-color);
}

.form-content2-box2-part{
  display: flex;   
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px 0;
}

.form-content2-input-field,.form-content2-box2-field{
  display: flex;
  flex-direction: column;
  width: 93%;
    margin: 15px auto;
  }
  
  .form-content2-input-field input{
    background-color: var(--white-color);
    color: var(--secondary8-color);
    width: 100%;
    padding: 10px;
    font-size: 17px;
    border-radius: 3px;
    border: none;
    outline: none;
  }

  .form-content2-box2-button{
display: flex;
justify-content: center;
  }

  .form-content2-box2-button button{
    display: flex;
justify-content: center;
padding: 10px;
    text-decoration: none;
    border: none;
    background-color: var(--secondary7-color);
    color: var(--white-color);
    width: 93%;
    font-size: 17px;
    border-radius: 3px;
    transition: all 0.5s;
  }

  #order-process{
    display: none;
    margin-right: 10px;
    border: 2px solid var(--primary3-color);
    border-top: 2px solid var(--white-color);
    border-radius: 20px;
    height: 17px;
    width: 17px;
    animation: spin 1s linear infinite;
  }

@media screen and (max-width: 600px) {
  .loader-content {
    font-size: 34px;
    text-align: center;
    padding: 0 35px;
  }

  .spin-loader {
    width: 60px;
    height: 60px;
    margin: 30px auto;
  }

  .navbar-content {
    font-size: 20px;
  }

  .navbar-content img {
    height: 55px;
  }

  .main-banner::before {
    background: url(./assets/home-delivery-banner2.jpg) no-repeat center center/cover;
    opacity: 0.7;
    height: 300px;
  }

  .main-banner-content {
    margin: auto;
    text-align: center;
    padding: 13% 15%;
  }

  .main-banner-content h1 {
    font-size: 30px;
  }

  .main-banner-content p {
    font-size: 13px;
  }

  .cards {
    padding: 30px 0;
    margin: auto;
    grid-template-columns: 1fr;
  }

  .card {
    margin: 10px 0;
  }

  .card-section1-hover-button {
    padding: 10px 20px;
    font-size: 15px;
  }

  .card-section2 {
    padding: 5px 10px 10px 10px;
    justify-content: space-evenly;
    height: 90px;
  }

  #card-section2-content1,
  .card-section2-content3 {
    font-size: 12.6px;
    line-height: 17px;
  }

  .card-section2-content2-bundles {
    font-size: 11.97px;
    line-height: 17px;
  }

  /* .card-section1-hover-options {
    justify-content: space-around;
    top: 7px;
    right: 7px;
    height: 70px;
    width: 35px;
    opacity: 1;
    border-radius: 20px;
    visibility: visible;
    transition: none;
  }

  .card-section1:hover .card-section1-hover-options {
    right: 7px;
  }

  .card-section1-hover-option2 {
    display: none;
  } */

  .card-section1-hover-option1 img,
  .card-section1-hover-option3 img {
    height: 16px;
  }

  .card-section1-sold-tag {
    width: 40px;
    height: 40px;
  }

  .card-section1-sold-tag a {
    font-size: 10px;
  }

  /* Cart page */

  .cart-header {
    height: 60px;
  }

  .cart-header-content-heading1 {
    color: var(--white-color);
    opacity: 1;
  }

  .footer-box-part1 {
    flex-direction: column;
  }

  .footer-box-part1 h1 {
    max-width: 400px;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-box-part1 img {
    height: 240px;
  }

  .footer-box-part2 {
    flex-direction: column;
    padding: 0;
  }

  .footer-box-part2-content1 img {
    height: 60px;
  }

  .footer-box-part2-content1 p {
    font-size: 18px;
    text-align: center;
  }

  .footer-box-part2-content1,
  .footer-box-part2-content2,
  .footer-box-part2-content3 {
    margin: 20px 5px;
  }

  .footer-box-part2-content3 a {
    text-align: center;
  }

  .footer-box-part2-content2 img, .footer-box-part2-content3 img {
    height: 16px;
    margin: 0 3px 0 3px;
}

.footer-box-part2-content2 a, .footer-box-part2-content3 a, .footer-box-part2-content2 p, .footer-box-part2-content3 p {
  font-size: 15px;
}

      /* Cart page */
    
    .form-content1 h1 {
      font-size: 30px;
    }

    .form-content2-field p, .form-content2-box2-field P {
      font-size: 16px;
  }

  .form-content2-field h6, .form-content2 label, .form-content2-box2-field h6 {
    font-size: 13px;
}

.form-content2-field {
  width: 93%;
  margin: auto;
}

.form-content2-box1 {
  flex-direction: column;
}

#product-name{
  margin-bottom: 20px;
}

.form-content2-box2-button a{
  padding: 10px 18px;
}
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .loader-content {
    font-size: 45px;
    text-align: center;
    padding: 0 35px;
  }

  .spin-loader {
    width: 80px;
    height: 80px;
  }

  .navbar-content {
    font-size: 23px;
  }

  .navbar-content img {
    height: 60px;
  }

  .cards {
    max-width: 50%;
    padding: 30px 0;
    margin: auto;
    grid-template-columns: 1fr;
  }

  .card {
    margin: 10px 0;
  }

  .card-section2 {
    padding: 5px 10px 10px 10px;
    height: 90px;
  }

  .card-section1-hover-button {
    padding: 12px 30px;
    font-size: 17px;
  }

  /* .card-section1-hover-options {
    justify-content: space-around;
    top: 10px;
    right: 10px;
    height: 90px;
    width: 40px;
    opacity: 1;
    border-radius: 20px;
    visibility: visible;
    transition: none;
  }

  .card-section1:hover .card-section1-hover-options {
    right: 7px;
  }

  .card-section1-hover-option2 {
    display: none;
  }

  .card-section1-hover-option1 img,
  .card-section1-hover-option3 img {
    height: 16px;
  } */

  /* Cart page */

  .cart-header {
    height: 60px;
  }

  .cart-header-content-heading1 {
    color: var(--white-color);
    opacity: 1;
  }

  .footer-box-part1 {
    flex-direction: column;
  }

  .footer-box-part1 h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-box-part1 img {
    height: 380px;
  }

  .footer-box-part2 {
    flex-direction: column;
    max-width: 900px;
  }

  .footer-box-part2-content1 p {
    font-size: 27px;
  }

  .footer-box-part2-content1,
  .footer-box-part2-content2,
  .footer-box-part2-content3 {
    margin: 25px 0;
  }

  .footer-box-part2-content1 img {
    height: 80px;
  }

  .footer-box-part2-content1 h1 {
    font-size: 27px;
  }

    /* Cart page */
  
    .shopping-cart-section {
      max-width: 500px;
  }
  
  .form-content1 h1 {
    font-size: 30px;
  }

  .form-content2-field {
    width: 93%;
    margin: auto;
  }
  
  .form-content2-box1 {
    flex-direction: column;
  }
  
  #product-name{
    margin-bottom: 20px;
  }

  .form-content2-box2-button a{
    padding: 10px 15px;
  }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  .loader-content {
    font-size: 50px;
    text-align: center;
    padding: 0 35px;
  }

  .spin-loader {
    width: 110px;
    height: 110px;
  }

  .main-banner-content {
    max-width: 290px;
  }

  .main-banner-content h1 {
    font-size: 40px;
  }

  .cards {
    max-width: 70%;
    padding: 30px 0;
    max-width: 70%;
    grid-template-columns: 1fr 1fr;
  }

  .card-section1-hover-button {
    padding: 12px 30px;
    font-size: 17px;
  }

  /* .card-section1-hover-options {
    justify-content: space-around;
    top: 7px;
    right: 7px;
    height: 70px;
    width: 35px;
    opacity: 1;
    border-radius: 20px;
    visibility: visible;
    transition: none;
  }

  .card-section1:hover .card-section1-hover-options {
    right: 7px;
  }

  .card-section1-hover-option2 {
    display: none;
  }

  .card-section1-hover-option1 img,
  .card-section1-hover-option3 img {
    height: 16px;
  } */

  .footer-box-part1 h1 {
    font-size: 30px;
  }

  .footer-box-part1 img {
    height: 350px;
  }

  .footer-box-part2 {
    justify-content: space-between;
    max-width: 860px;
  }

  .footer-box-part2-content1 img {
    height: 60px;
  }

  .footer-box-part2-content1 p {
    font-size: 20px;
  }

  .footer-box-part2-content2 a,
  .footer-box-part2-content3 a,
  .footer-box-part2-content2 p,
  .footer-box-part2-content3 p {
    font-size: 14px;
  }

  /* Cart page */

  .cart-header {
    height: 70px;
  }

  .shopping-cart-section {
    max-width: 600px;
}

.form-content1 h1 {
  font-size: 35px;
}

.form-content2-box2-button a{
  padding: 10px 19px;
}
}

@media screen and (min-width: 1201px) and (max-width: 1536px) {
  .loader-content {
    font-size: 60px;
    text-align: center;
    padding: 0 35px;
  }

  .spin-loader {
    width: 130px;
    height: 130px;
  }

  .main-banner-content {
    max-width: 400px;
  }

  .main-banner-content h1 {
    font-size: 40px;
  }

  .card-section1-hover-button {
    padding: 12px 30px;
    font-size: 17px;
  }

  .footer-box-part1 h1 {
    font-size: 35px;
    margin-right: 10px;
  }

  .footer-box-part1 img {
    height: 400px;
  }

  .footer-box-part2-content1 img {
    height: 70px;
  }

  .footer-box-part2-content1 p {
    font-size: 25px;
  }
}
